<div class="header-wrap">
  <div class="brand-logo">
    <img
      class="edelWeisslogo"
      style="width: 140%; max-width: 140"
      src="assets/images/logo.png"
      alt="logo"
    />
  </div>
  <!-- <div class="btn-group" dropdown placement="bottom right">
    <button
      id="button-alignment"
      dropdownToggle
      type="button"
      class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-alignment"
    >
      This dropdown's menu is right-aligned <span class="caret"></span>
    </button>
    <ul
      id="dropdown-alignment"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu"
      aria-labelledby="button-alignment"
    >
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Another action</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Something else here</a>
      </li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div> -->
  <div class="nav-links">
    <ul>
      <li>
        <a
          routerLink="/dashboard"
          title="Dashboard"
          style="text-decoration: none"
          >Dashboard</a
        >
      </li>
    </ul>
    <div
      class="btn-group"
      dropdown
      placement="bottom right top_right_header_menu"
    >
      <button
        dropdownToggle
        type="button"
        style="text-transform: uppercase;"
        class="btn btn-light profile-image"
        (mouseenter)="isHidden = !isHidden"
        (mouseleave)="isHidden = !isHidden"
        (click)="isHidden = !isHidden"
      >
        {{ initial1 + initial2 }}
        <div class="username_tooltip">{{ userName }}</div>
      </button>
      <ul
        id="dropdown-alignment"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-right p-0"
        role="menu"
        aria-labelledby="button-alignment"
      >
        <li role="menuitem">
          <p class="user_name" style="color: black">{{ userName }}</p>
        </li>
        <li role="menuitem" (click)="logout()">
          <button class="logoutBtn">Logout</button>
        </li>
      </ul>
      <!-- <ng-container *ngIf="isHidden">
        <p class="user_name" style="color: rgb(255, 255, 255)">nihal sangole</p>
      </ng-container> -->
    </div>
    <!-- <div class="userDetailsBox">-->
    <!-- <p class="user_name">{{ username }}</p> -->
    <!--<p class="user_name">nihal sangole</p>
      <button class="logoutBtn" (click)="logout()">Logout</button>
    </div> -->
    <!-- <span class="profile-image">{{ username.substring(0, 1) }}</span> -->
    <!-- <span class="profile-image">ns</span> -->
  </div>
</div>
