<div class="header-wrap">
  <div class="row">
    <div
      class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 brand-logo"
      style="align-self: center"
    >
      <img
        class="edelWeisslogo"
        src="assets/images/logo.png"
        alt="logo"
        style="width: 66%"
      />
    </div>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12 nav-links">
      <div
        class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
        style="display: flex; justify-content: flex-end"
      >
        <ul>
          <li>
            <a routerLink="/dashboard" title="Dashboard" class="btn_rout"
              >Dashboard</a
            >
          </li>
        </ul>

        <div
          class="btn-group"
          dropdown
          placement="bottom right top_right_header_menu"
          style="margin-right: 10px"
        >
          <button
            dropdownToggle
            type="button"
            style="text-transform: uppercase"
            class="btn btn-light profile-image"
            (mouseenter)="isHidden = !isHidden"
            (mouseleave)="isHidden = !isHidden"
            (click)="isHidden = !isHidden"
          >
            {{ initial1 + initial2 }}
            <div class="username_tooltip">{{ userName }}</div>
          </button>
          <ul
            id="dropdown-alignment"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right p-0"
            role="menu"
            aria-labelledby="button-alignment"
          >
            <li role="menuitem">
              <p class="user_name" style="color: black">{{ userName }}</p>
            </li>
            <li role="menuitem" routerLink="/update">
              <button class="logoutBtn">Update</button>
            </li>
            <li role="menuitem" (click)="logout()">
              <button class="logoutBtn">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
