<div class="display">
  <app-header></app-header>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div
          class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tableCard card"
          style="margin-bottom: 4px"
        >
          <div class="table-container">
            <table class="table table-borderless mb-0">
              <thead>
                <tr class="lightBorderBottom">
                  <th scope="col">Application Number</th>
                  <th scope="col">Name</th>
                  <th scope="col">PAN</th>
                  <th scope="col">Individual/Non-Individual</th>
                  <th scope="col">CKYC</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ showData.applicationNumber }}</td>
                  <td *ngIf="showData.firstName">
                    {{ showData.firstName + " " + showData.lastName }}
                  </td>
                  <td *ngIf="!showData.firstName"></td>
                  <td>{{ showData.pan }}</td>
                  <td>{{ showData.type }}</td>
                  <td>{{ showData.ckycNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <!-- left pdf start  -->

          <div
            class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
            style="height: 780px"
          >
            <div class="pdf-view-left">
              <!-- normal pdf viewer -->
              <div
                *ngIf="category == 'Normal' || category == 'Topup'"
                class="pdf-view-left"
              >
                <div class="pdf-header">
                  <div class="pdf-heading">Application PDF</div>
                  <!-- <div class="pdf-zoom-value">100%</div> -->
                  <div class="pdf-buttons">
                    <!-- <button (click)="zoomoutleft()">
                      <img src="assets/images/zoom-out.svg" alt="icon" />
                    </button>
                    <button (click)="zoominleft()">
                      <img src="assets/images/zoom-in.svg" alt="icon" />
                    </button> -->
                    <button *ngIf="src">
                      <a href="{{ src }}" target="_blank" class="text-dark">
                        <img
                          src="assets/images/full-screen-icon.svg"
                          alt="icon"
                        />
                      </a>
                    </button>
                  </div>
                </div>

                <div id="outerContainer1">
                  <div class="pdf-container scrollbar" id="custumscroll">
                    <div *ngIf="!src" style="color: black">
                      Application is loading
                    </div>
                    <embed
                      *ngIf="src"
                      [src]="pdflink"
                      type="application/pdf"
                      width="100%"
                      height="100%"
                    />
                    <!-- <iframe
                      [src]="pdflink"
                      type="application/pdf"
                      width="100%"
                      height="100%"
                    ></iframe> -->
                  </div>
                </div>
              </div>

              <!-- pledge start -->
              <div *ngIf="category == 'Pledge'" class="pdf-header">
                <div>Pledge Document</div>
              </div>
              <div
                *ngIf="category == 'Pledge'"
                class="pdf-container scrollbar"
                id="custumscroll"
                style="padding: 1%; background-color: #f3f3f9"
              >
                <div style="background-color: #ffffff">
                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 10px"
                  >
                    <p class="pledge_heading">PLEDGE</p>
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 80%; height: 80%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div style="margin-top: 4px">
                        <p class="sub_heading">Investor details</p>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      >
                        <div class="row">
                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                          >
                            <div class="sub_heading2">Enter Folio Number</div>
                            <div>
                              <input
                                type="email"
                                class="inputfields_pledge2"
                                name="loginEmail"
                                id="loginEmail"
                                [value]="pledgeData.folioNo"
                                [readOnly]="true"
                              />
                            </div>
                          </div>

                          <!-- <div
                              class="col col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12"
                              style="align-self: center"
                            >
                              <div
                                style="
                                  font-size: 12px;
                                  margin-top: 20px;
                                  font-weight: 500;
                                  text-align-last: center;
                                "
                              >
                                OR
                              </div>
                            </div> -->

                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                          >
                            <div class="sub_heading2">PAN Number</div>
                            <div>
                              <input
                                type="email"
                                class="inputfields_pledge"
                                name="loginEmail"
                                id="loginEmail"
                                [value]="pledgeData.pan"
                                [readOnly]="true"
                              />
                            </div>
                          </div>

                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                          >
                            <div class="sub_heading2">Fund</div>
                            <div>
                              <select class="selectfields_pledge">
                                <option selected>
                                  {{ pledgeData.fundName }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      style="
                        background-color: #f7f7f7;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        padding: 1%;
                      "
                    >
                      <div class="row pledge_content">
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Investor Name:</div>
                          <div class="pledge_content_p1">
                            {{
                              pledgeData.firstName +
                                " " +
                                pledgeData.middleName +
                                " " +
                                pledgeData.lastName
                            }}
                          </div>
                        </div>

                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Commitment:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.commitmentAmount | customnumber }}
                          </div>
                        </div>
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Unit Class:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.class }}
                          </div>
                        </div>
                      </div>

                      <div class="row pledge_content">
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Total Unit:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.inv_TotalUnits }}
                          </div>
                        </div>

                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">
                            Total Pledged Units:
                          </div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.inv_UnitsPledged }}
                          </div>
                        </div>
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Available Units:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.inv_AvailableUnits }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr style="margin-top: 2%; margin-bottom: 1%" />

                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 2%"
                  >
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 85%; height: 85%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div>
                        <p class="sub_heading" style="margin-top: 10px">
                          Unit to Pledge
                        </p>
                      </div>
                    </div>

                    <div>
                      <div
                        class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                        style="display: flex; justify-content: space-between"
                      >
                        <div>
                          <div class="sub_heading2">
                            Enter Unit to be Pledge
                          </div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_pledge2"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.unitsPledgeUnpledge"
                              [readOnly]="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr style="margin-top: 2%; margin-bottom: 1%" />

                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 2%"
                  >
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 85%; height: 85%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div>
                        <p class="sub_heading" style="margin-top: 10px">
                          Financer Personal Details
                        </p>
                      </div>
                    </div>

                    <div
                      class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                    >
                      <div class="row">
                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                        >
                          <div class="sub_heading2">Enter PAN</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              [value]="pledgeData.financerPAN"
                              [readOnly]="true"
                            />
                          </div>
                        </div>

                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                        >
                          <div class="sub_heading2">Enter DOI</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="
                                pledgeData.financerDOI | date : 'dd/MM/yyyy'
                              "
                              [readOnly]="true"
                            />
                          </div>
                        </div>
                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 13px"
                        >
                          <div class="sub_heading2">Enter Name</div>
                          <div>
                            <input
                              type="text"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.financerName"
                              [readOnly]="true"
                            />
                          </div>
                        </div>
                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 13px"
                        >
                          <div class="sub_heading2">Enter Email</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.financerEmail"
                              [readOnly]="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr style="margin-top: 2%; margin-bottom: 1%" />

                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 2%"
                  >
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 85%; height: 85%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div>
                        <p class="sub_heading" style="margin-top: 10px">
                          Financer Bank Details
                        </p>
                      </div>
                    </div>

                    <div
                      class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      style="padding: 1%"
                    >
                      <div class="row">
                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 4px"
                        >
                          <div class="sub_heading2">Account Type</div>
                          <div>
                            <select class="selectfields_account_type">
                              <option selected>
                                {{ pledgeData.accountType }}
                              </option>
                            </select>
                          </div>
                        </div>

                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 1%; margin-bottom: 1%"
                        >
                          <div class="sub_heading2">Account Number</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.accountNo"
                              [readOnly]="true"
                            />
                          </div>
                        </div>

                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 1%; margin-bottom: 1%"
                        >
                          <div class="sub_heading2">IFSC Code</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.ifsc"
                              [readOnly]="true"
                            />
                          </div>
                        </div>

                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 1%; margin-bottom: 1%"
                        >
                          <div class="sub_heading2">MICR Code</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.micrCode"
                              [readOnly]="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      style="
                        background-color: #f7f7f7;
                        margin-top: 1%;
                        border: 1px solid #f7f7f7;
                      "
                    >
                      <div style="padding: 1%">
                        <div style="display: flex">
                          <p
                            style="
                              font-size: 13px;
                              font-weight: 600;
                              text-transform: capitalize;
                            "
                          >
                            BANK OF INDIA:
                          </p>
                          <p
                            style="
                              font-size: 13px;
                              text-transform: capitalize;
                              margin-left: 1%;
                            "
                          >
                            Branch Name Mira Bhayander, JAIN BUNGALOw 100 FT.
                            Road New Golden Nest, PIN-401204
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr style="margin-top: 2%; margin-bottom: 1%" />

                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 2%"
                  >
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 85%; height: 85%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div>
                        <p class="sub_heading" style="margin-top: 10px">
                          Financer Contact Details
                        </p>
                      </div>
                    </div>

                    <div
                      class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      style="padding: 1%"
                    >
                      <div class="row">
                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 1%; margin-bottom: 1%"
                        >
                          <div class="sub_heading2">Enter Name</div>
                          <div>
                            <input
                              type="text"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.fC_Name"
                              [readOnly]="true"
                            />
                          </div>
                        </div>

                        <div
                          class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
                          style="margin-top: 1%; margin-bottom: 1%"
                        >
                          <div class="sub_heading2">Phone Number</div>
                          <div>
                            <input
                              type="tel"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.fC_Mobile"
                              [readOnly]="true"
                            />
                          </div>
                        </div>

                        <div
                          class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                          style="margin-top: 1%; margin-bottom: 1%"
                        >
                          <div class="sub_heading2">Email</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_account_type"
                              name="loginEmail"
                              id="loginEmail"
                              [value]="pledgeData.fC_EMail"
                              [readOnly]="true"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br style="margin-top: 1%; margin-bottom: 1%; width: 100%" />
                </div>

                <br />

                <div style="background-color: #ffffff; padding: 1%">
                  <div class="row">
                    <div>
                      <ol type="1">
                        <li
                          style="margin-top: 2%; margin-bottom: 2%"
                          *ngFor="let list of checklist; let i = index"
                        >
                          <div style="display: flex">
                            <div
                              class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                            >
                              <p class="unpledge_check_content_p">
                                {{ list.checkListDesc }}
                                <span class="star">*</span>
                              </p>
                            </div>

                            <div
                              class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"
                              style="
                                display: flex;
                                justify-content: space-evenly;
                              "
                            >
                              <div class="custom-control custom-radio">
                                <input
                                  id="yes"
                                  type="radio"
                                  class="custom-control-input"
                                  value="1"
                                  name="{{ list.checkListId }}"
                                  required
                                  [(ngModel)]="list.value"
                                />
                                <label
                                  class="custom-control-label"
                                  for="{{ list.checkListId }}"
                                  style="margin-left: 5px"
                                  class="unpledge_check_content_p"
                                  >Yes</label
                                >
                              </div>

                              <div class="custom-control custom-radio">
                                <input
                                  id="no"
                                  type="radio"
                                  class="custom-control-input"
                                  value="0"
                                  name="{{ list.checkListId }}"
                                  required
                                  [(ngModel)]="list.value"
                                />
                                <label
                                  class="custom-control-label"
                                  style="margin-left: 5px"
                                  for="{{ list.checkListId }}"
                                  class="unpledge_check_content_p"
                                  >No</label
                                >
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>

                <!-- checklist end -->
              </div>
              <!-- pledge end -->

              <!-- unpledge  start -->

              <div *ngIf="category == 'Unpledge'" class="pdf-header">
                <div>Unpledge Document</div>
              </div>
              <div
                *ngIf="category == 'Unpledge'"
                class="pdf-container scrollbar"
                id="custumscroll"
                style="padding: 1%; background-color: #f3f3f9"
              >
                <div style="background-color: #ffffff">
                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 10px"
                  >
                    <div>
                      <p class="pledge_heading">UNPLEDGE</p>
                    </div>
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 80%; height: 80%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div>
                        <p class="sub_heading" style="margin-top: 4px">
                          Investor details
                        </p>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      >
                        <div class="row">
                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                          >
                            <div class="sub_heading2">Folio Number</div>
                            <div>
                              <input
                                type="email"
                                class="inputfields_unpledge2"
                                name="loginEmail"
                                id="loginEmail"
                                [value]="pledgeData.folioNo"
                                [readOnly]="true"
                                required
                                autofocus
                              />
                            </div>
                          </div>

                          <!-- <div
                            class="col col-xxl-1 col-xl-1 col-lg-1 col-md-6 col-sm-12"
                            style="align-self: center"
                          >
                            <div
                              style="
                                font-size: 12px;
                                margin-top: 20px;
                                font-weight: 500;
                                text-align-last: center;
                              "
                            >
                              OR
                            </div>
                          </div> -->

                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                          >
                            <div class="sub_heading2">PAN Number</div>
                            <div>
                              <input
                                type="email"
                                class="inputfields_unpledge2"
                                name="loginEmail"
                                id="loginEmail"
                                [readOnly]="true"
                                required
                                [value]="pledgeData.pan"
                                autofocus
                              />
                            </div>
                          </div>

                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                          >
                            <div class="sub_heading2">Fund</div>
                            <div>
                              <select class="selectfields_unpledge">
                                <option selected>
                                  {{ pledgeData.fundName }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                            style="margin-top: 1%"
                          >
                            <div class="sub_heading2">Financer</div>
                            <div>
                              <select class="selectfields_unpledge2">
                                <option selected>
                                  {{ pledgeData.financerName }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div
                            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12"
                            style="margin-top: 1%"
                          >
                            <div class="sub_heading2">Unit Pledged</div>
                            <div>
                              <input
                                type="email"
                                class="inputfields_unpledge2"
                                name="loginEmail"
                                id="loginEmail"
                                [readOnly]="true"
                                [value]="pledgeData.unitsPledge"
                                required
                                autofocus
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                      style="
                        background-color: #f7f7f7;
                        margin-top: 2%;
                        margin-bottom: 2%;
                        padding: 1%;
                      "
                    >
                      <div class="row pledge_content">
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Investor Name:</div>
                          <div class="pledge_content_p1">
                            {{
                              pledgeData.firstName +
                                " " +
                                pledgeData.middleName +
                                " " +
                                pledgeData.lastName
                            }}
                          </div>
                        </div>

                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Commitment:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.commitmentAmount | customnumber }}
                          </div>
                        </div>
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Unit Class:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.class }}
                          </div>
                        </div>
                      </div>

                      <div class="row pledge_content">
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Total Unit:</div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.inv_TotalUnits }}
                          </div>
                        </div>

                        <!-- <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">
                            Total Pledged Units:
                          </div>
                          <div class="pledge_content_p1">
                            {{ pledgeData.inv_UnitsPledged }}
                          </div>
                        </div> -->
                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p">Available Units:</div>
                          <div class="pledge_content_p11">
                            {{ pledgeData.inv_AvailableUnits }}
                          </div>
                        </div>

                        <div
                          class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
                          style="display: flex"
                        >
                          <div class="pledge_content_p"></div>
                          <div class="pledge_content_p1"></div>
                        </div>
                      </div>
                    </div>
                    <hr style="margin-top: 2%; margin-bottom: 1%" />
                  </div>

                  <div
                    class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                    style="padding: 2%"
                  >
                    <div
                      class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                      style="display: flex"
                    >
                      <div class="sub_heading_img">
                        <img
                          class="edelWeisslogo"
                          style="width: 85%; height: 85%"
                          src="assets/images/pledgeicon.svg"
                          alt="logo"
                        />
                      </div>
                      <div>
                        <p class="sub_heading" style="margin-top: 10px">
                          Unit to Pledge
                        </p>
                      </div>
                    </div>

                    <div>
                      <div
                        class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
                        style="display: flex; justify-content: space-between"
                      >
                        <div>
                          <div class="sub_heading2">Unit to be Unpledge</div>
                          <div>
                            <input
                              type="email"
                              class="inputfields_pledge2"
                              name="loginEmail"
                              id="loginEmail"
                              [readOnly]="true"
                              [value]="pledgeData.unitsPledgeUnpledge"
                              required
                              autofocus
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr style="" />
                </div>

                <div style="background-color: #ffffff; padding: 1%">
                  <div class="row">
                    <div>
                      <ol type="1">
                        <li
                          style="margin-top: 2%; margin-bottom: 2%"
                          *ngFor="let list of checklist; let i = index"
                        >
                          <div
                            class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                            style="display: flex"
                          >
                            <div
                              class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                            >
                              <p class="unpledge_check_content_p">
                                {{ list.checkListDesc }}
                                <span class="star">*</span>
                              </p>
                            </div>

                            <div
                              class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"
                              style="
                                display: flex;
                                justify-content: space-evenly;
                              "
                            >
                              <div class="custom-control custom-radio">
                                <input
                                  id="yes"
                                  type="radio"
                                  class="custom-control-input"
                                  value="1"
                                  name="{{ list.checkListId }}"
                                  required
                                  [(ngModel)]="list.value"
                                />
                                <label
                                  class="custom-control-label"
                                  for="{{ list.checkListId }}"
                                  class="unpledge_check_content_p"
                                  style="margin-left: 5px"
                                  >Yes</label
                                >
                              </div>

                              <div class="custom-control custom-radio">
                                <input
                                  id="no"
                                  type="radio"
                                  class="custom-control-input"
                                  value="0"
                                  name="{{ list.checkListId }}"
                                  required
                                  [(ngModel)]="list.value"
                                />
                                <label
                                  class="custom-control-label"
                                  for="{{ list.checkListId }}"
                                  style="margin-left: 5px"
                                  class="unpledge_check_content_p"
                                  >No</label
                                >
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <!-- checklist end -->
              </div>

              <!-- unpledge  end  -->
            </div>
          </div>

          <!-- left pdf end -->

          <div
            class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
            style="height: 780px"
          >
            <div class="pdf-view-right" style="margin-top: 2%; height: 500px">
              <div class="pdf-header">
                <div class="pdf-heading">KYC Document</div>

                <div class="pdf-buttons"></div>
              </div>

              <div id="outerContainer2">
                <div class="pdf-container2 scrollbar">
                  <div class="img-view-hideen">
                    <div
                      class="ivh-item"
                      *ngFor="let img of scrRightImages; let i = index"
                    >
                      <lib-ngx-image-zoom
                        class="img-fluid"
                        [thumbImage]="img.fileURL"
                        [fullImage]="img.fileURL"
                        [magnification]="2"
                        [enableScrollZoom]="true"
                        [enableLens]="true"
                        [lensWidth]="200"
                      ></lib-ngx-image-zoom>
                    </div>
                    <div
                      class="pdf-container scrollbar"
                      *ngFor="let pdf of scrRightPdf"
                      id="custumscroll"
                    >
                      <embed
                        *ngIf="pdf.fileURL"
                        [src]="pdf.fileURL"
                        type="application/pdf"
                        width="100%"
                        height="100%"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- multiple checkbox start -->

            <!-- <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
              <table class="table table-borderless" style="">
                <tbody class="multiple_check_box">
                  <tr>
                    <td *ngFor="let item of scrRight; let i = index">
                      <div class="col col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3  form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" />
                        <label
                          class="form-check-label multiple_check_box_text"
                          for="inlineCheckbox1"
                          (click)="showdocument(i)"
                          style="font-size: 14px;"
                          >{{ item.documentType }}</label
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> -->

            <div class="multiple_check_box" style="height: 195px">
              <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="row">
                    <div
                      class="col col-xl-2.5 col-lg-2.5 col-md-2.5 col-sm-2.5 col-2.5 form-check form-check-inline"
                      *ngFor="let item of scrRight; let i = index"
                    >
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [(ngModel)]="item.checked"
                      />
                      <label
                        class="form-check-label multiple_check_box_text"
                        [ngClass]="{ selected: selectedItem === i }"
                        for="inlineCheckbox1"
                        (click)="showdocument(i)"
                        style="font-size: 13px; border-radius: 5px"
                        >{{ item.documentType }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row comment-box">
          <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="comment">
              <div>
                <label for="" class="comment_label">Comment</label>
              </div>
              <textarea
                class="comment_textarea"
                [(ngModel)]="comment"
                rows="3"
                placeholder="Do not enter comments if there is no discrepancy"
                >{{ comment }}</textarea
              >
            </div>

            <div *ngIf="resubmitted">
              <p
                class=""
                style="color: #b70000; font-size: 14px; font-weight: 400"
              >
                Comments are required
              </p>
            </div>
            <div *ngIf="checklistError">
              <p
                class=""
                style="color: #b70000; font-size: 14px; font-weight: 400"
              >
                Please Fill all the checklist
              </p>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 1%; margin-bottom: 4%">
          <div
            class="submit-btns col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
          >
            <div class="buttons">
              <button class="btn btn-white" (click)="save()">Save</button>
            </div>

            <div class="buttons">
              <button
                class="btn btn-primary"
                style="background-color: #034ea2"
                (click)="showResubmitModal(confirmReSubmit)"
              >
                Resubmit
              </button>
            </div>

            <div class="buttons">
              <button
                class="btn btn-primary"
                style="background-color: #034ea2"
                (click)="showConfirmModal(confirmSubmit)"
              >
                Approve
              </button>
            </div>
          </div>
        </div>

        <!-- modal one -->

        <ng-template #confirmSubmit>
          <div class="parent">
            <div class="confirm-submit text-center">
              <img src="assets/images/exclamation.png" alt="" />

              <p class="subheading bmargin30">
                Do you really Want to verify the application of
                <b>{{ showData.firstName + " " + showData.lastName }}</b
                >?
              </p>
              <div>
                <button
                  class="btn btn-outline-primary mt-1"
                  (click)="modalRef?.hide()"
                >
                  Cancel
                </button>
                <button
                  class="btn btn-primary mt-1"
                  (click)="modalRef?.hide(); submit()"
                >
                  Confirm
                </button>
              </div>
            </div>
          </div>
        </ng-template>

        <!-- modal2 -->
        <ng-template #confirmReSubmit>
          <div class="parent">
            <div class="confirm-submit text-center">
              <img src="assets/images/resubmit.png" alt="" />

              <p class="subheading bmargin30">
                Do you really Want to send application of
                <b>{{ showData.firstName + " " + showData.lastName }}</b> for
                Resubmit?
              </p>
              <div>
                <button
                  class="btn btn-outline-primary mt-1"
                  (click)="modalRef2?.hide()"
                >
                  Cancel
                </button>
                <button
                  class="btn btn-primary mt-1"
                  (click)="modalRef2?.hide(); resubmit()"
                >
                  Confirm
                </button>
              </div>
            </div>
          </div>
        </ng-template>

        <!-- modal 3 -->
        <ng-template #savedSuccessfully>
          <div class="parent">
            <div class="confirm-submit text-center">
              <img src="assets/images/savefile.png" alt="" />

              <p class="subheading bmargin30">
                Application is Saved successfully
              </p>
            </div>
          </div>
        </ng-template>

        <!-- modal 4 -->
        <ng-template #verified>
          <div class="parent">
            <div class="confirm-submit text-center">
              <div class="tick-img bmargin20">
                <img src="assets/images/green-tick.png" alt="" />
              </div>
              <p class="subheading bmargin30">Application is now verified</p>
            </div>
          </div>
        </ng-template>

        <!-- modal 5-->
        <ng-template #ReSubmit>
          <div class="parent">
            <div class="confirm-submit text-center">
              <div class="tick-img bmargin20">
                <img src="assets/images/green-tick.png" alt="" />
              </div>
              <p class="subheading bmargin30">Application sent for Resubmit</p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
