.application-details {
  background: #b5c0dc;
  display: flex;
  padding: 10px 0;
}

.display {
  background-color: #f3f3f9;
}

.table > :not(caption) > * > * {
  padding: 12px 0.5rem;
}

.tableCard {
  border: none;
  margin: 20px 0px;
  box-shadow: 0px 1px 4px #15223214;
  border-radius: 6px;
}
.lightBorderBottom {
  border-bottom: 2px solid #eaeaea;
  text-transform: uppercase;
  color: #131523;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.87px;
}

.table-container {
  margin: 0 auto;
  width: 97%;
  background-color: #ffffff;
}

.pdf-container {
  margin: auto;
  width: 100%;
  height: 472px;
  margin-top: 10px;
  border-radius: 3px;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

.details-inner {
  width: 19%;
  margin: 0 18px;
}

.details-inner:nth-child(2) {
  width: 26%;
}

.details-inner:nth-child(3) {
  width: 20%;
}
.details-inner:nth-child(4) {
  width: 26%;
}
.details-inner:last-child {
  width: 22%;
}

.details-inner p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.details-inner .detail-p {
  background: #fff;
  padding: 3px 6px;
  font-weight: 500;
  font-size: 15px;
}

.details-inner:first-child .detail-p,
.details-inner:nth-child(3) .detail-p {
  text-align: center;
}

/* .pdf-form-wrap {
} */

.pdf-view-wrap {
  /* height: 472px; */
}

.pdf-view-left,
.pdf-view-right {
  margin-top: 1%;
  margin-bottom: 1%;
}

.pdf-view-modal {
  width: 100%;
  background: #ddd;
  padding: 5px;
}

.pdf-view-left {
}

.pdf-view-right {
}

.comment-box {
  margin-top: 1%;
}

.comment-box .comment label {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.comment-box .comment textarea::placeholder {
  color: #abaec1;
}

.comment-box .comment textarea {
  width: 100%;
  border: 0;
  border-radius: 6px;
  background: #ffffff;
  padding: 1%;
  box-shadow: 0px 1px 4px #15223214;
}

.buttons {
  margin-right: 2%;
}

.submit-btns {
  text-align: end;
  display: flex;
  justify-content: end;
}

.confirm-submit {
  height: 500px;
}

.parent {
  background-color: rgba(255, 255, 255, 0.098) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.confirm-submit img {
  padding: 5px;
  width: 55px;
}
#outerContainer {
  background-color: #ffffff;
  margin: 0px 8px;
  padding-right: 4px;
}

.btn {
  padding: 8px 40px;
  line-height: normal;
  font-size: 14px;
  font-weight: 500;
}

.btn-white {
  background-color: #ffffff;
  color: #5a607f;
  border: 1px solid #d7dbec;
}

.pdf-header {
  background: #1d409d;
  display: flex;
  justify-content: space-between;
  place-items: center;
  color: #ffffff;
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 500;
  height: 43px;
  box-shadow: 0px 2px 4px #0000004b;
}

.pdf-buttons button {
  background-color: transparent;
  border: none;
  margin: 0 5px;
}

#custumscroll pdf-viewer .ng2-pdf-viewer-container {
  overflow-x: unset !important;
}

.scrollbar {
  max-height: 472px;
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin-right: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #eaeaea;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 8px;
}

.img-view-hideen .ivh-item {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

::ng-deep .ngxImageZoomContainer {
  width: 100% !important;
}

::ng-deep .ngxImageZoomThumbnail {
  width: 100% !important;
}

.pledge_heading {
  font-size: 22px;
  font-weight: 500;
}

.sub_heading_img {
}

.sub_heading {
  font-size: 18px;
  margin-top: 6px;
  /* margin-right: 1%; */
}
.sub_heading2 {
  font-size: 14px;
  font-weight: 500;
}

.pdf-header {
  background: #1d409d;
  display: flex;
  justify-content: space-between;
  place-items: center;
  color: #ffffff;
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 500;
  height: 43px;
  box-shadow: 0px 2px 4px #0000004b;
}

#custumscroll pdf-viewer .ng2-pdf-viewer-container {
  overflow-x: unset !important;
}

.scrollbar {
  max-height: 483px;
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin-right: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: white;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 8px;
}

.img-view-hideen .ivh-item {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

::ng-deep .ngxImageZoomContainer {
  width: 100% !important;
}

::ng-deep .ngxImageZoomThumbnail {
  width: 100% !important;
}

.pledge_heading {
  font-size: 22px;
  font-weight: 600;
  margin-left: 2%;
}

.sub_heading_img {
}

.sub_heading {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 500;
  /* margin-right: 1%; */
}
.sub_heading2 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 1%;
}

.pledge_content {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.pledge_content_p {
  font-size: 14px;
}

.pledge_check_content {
  display: flex;
  justify-content: space-around;
}

.pledge_check_content_p {
  font-size: 15px;
  font-weight: 500;
}

.inputfields_pledge {
  width: 16em;
  border-radius: 5px;
  border-color: #9ca1bb;
}
.inputfields_pledge2 {
  width: 19em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.selectfields_pledge {
  width: 14em;
  height: 2em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.inputfields_pledge3 {
  width: 22em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.inputfields_account_type {
  width: 19em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.selectfields_account_type {
  width: 19em;
  height: 2em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

@media screen and (max-width: 1700px) {
  .inputfields_pledge {
    width: 14em;
  }

  .inputfields_pledge2 {
    width: 15em;
  }

  .selectfields_pledge {
    width: 12em;
  }
}

@media screen and (max-width: 1630px) {
  .inputfields_pledge {
    width: 13em;
  }

  .selectfields_pledge {
    width: 12em;
  }
}

@media screen and (max-width: 1560px) {
  .inputfields_pledge {
    width: 11em;
  }

  .selectfields_pledge {
    width: 11.5em;
  }
  .inputfields_pledge2 {
    width: 14em;
  }
}

@media screen and (max-width: 1435px) {
  .inputfields_pledge {
    width: 11em;
  }

  .selectfields_pledge {
    width: 11em;
  }
  .inputfields_pledge2 {
    width: 11em;
    margin-right: 1%;
  }
}

/* @media screen and (max-width: 1400px) {

} */

/* @media screen and (max-width: 1395px) {

} */

/* @media screen and (max-width: 1270px) {


} */

@media screen and (max-width: 1190px) {
  .inputfields_account_type {
    width: 15em;
    border-radius: 5px;
  }

  .selectfields_account_type {
    width: 15em;
    height: 2em;
    border-radius: 5px;
  }
}

/* @media screen and (max-width: 1099px) {

}

@media screen and (max-width: 1000px) {

} */

@media screen and (max-width: 998px) {
  .inputfields_pledge {
    width: 18em;
  }

  .selectfields_pledge {
    width: 18em;
  }
  .inputfields_pledge2 {
    width: 18em;
    margin-right: 1%;
  }

  .inputfields_account_type {
    width: 22em;
    border-radius: 5px;
  }

  .selectfields_account_type {
    width: 22em;
    height: 2em;
    border-radius: 5px;
  }
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 450px) {
}

.pdf-header {
  background: #1d409d;
  display: flex;
  justify-content: space-between;
  place-items: center;
  color: #ffffff;
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 500;
  height: 43px;
  box-shadow: 0px 2px 4px #0000004b;
}

#custumscroll pdf-viewer .ng2-pdf-viewer-container {
  overflow-x: unset !important;
}

.scrollbar {
  max-height: 483px;
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin-right: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: white;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-radius: 8px;
}

.img-view-hideen .ivh-item {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.ngxImageZoomContainer {
  width: auto !important;
  height: auto !important;
}

::ng-deep .ngxImageZoomContainer {
  width: 100% !important;
}

::ng-deep .ngxImageZoomThumbnail {
  width: 100% !important;
}

.pledge_heading {
  font-size: 22px;
  font-weight: 600;
  margin-left: 2%;
}

.sub_heading {
  font-size: 15px;
  margin-top: 6px;
  /* margin-right: 1%; */
}
.sub_heading2 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 1%;
}

.inputfields_pledge {
  width: 12em;
  margin-bottom: 2%;
}

.pledge_content {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.pledge_content_p {
  font-size: 14px;
}

.unpledge_content_text {
  font-size: 13px;
  font-weight: 400;
}

.unpledge_check_content {
  display: flex;
  justify-content: space-around;
}

.unpledge_check_content_p {
  font-size: 15px;
  font-weight: 500;
}

.inputfields_pledge {
  width: 16em;
  border-radius: 5px;
  border-color: #9ca1bb;
}
.inputfields_pledge2 {
  width: 19em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.selectfields_pledge {
  width: 14em;
  height: 2em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.inputfields_pledge3 {
  width: 22em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.inputfields_account_type {
  width: 19em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

.selectfields_account_type {
  width: 19em;
  height: 2em;
  border-radius: 5px;
  border-color: #9ca1bb;
}

@media screen and (max-width: 1700px) {
  .inputfields_pledge {
    width: 14em;
  }

  .inputfields_pledge2 {
    width: 15em;
  }

  .selectfields_pledge {
    width: 12em;
  }
}

@media screen and (max-width: 1630px) {
  .inputfields_pledge {
    width: 13em;
  }

  .selectfields_pledge {
    width: 12em;
  }
}

@media screen and (max-width: 1560px) {
  .inputfields_pledge {
    width: 11em;
  }

  .selectfields_pledge {
    width: 10.5em;
  }
  .inputfields_pledge2 {
    width: 14em;
  }
}

@media screen and (max-width: 1450px) {
  .inputfields_pledge {
    width: 11em;
  }

  .selectfields_pledge {
    width: 8.5em;
  }
  .inputfields_pledge2 {
    width: 11em;
    margin-right: 1%;
  }

  .inputfields_account_type {
    width: 15em;
  }
}

@media screen and (max-width: 1435px) {
  .inputfields_pledge {
    width: 11em;
  }

  .selectfields_pledge {
    width: 11em;
  }
  .inputfields_pledge2 {
    width: 11em;
    margin-right: 1%;
  }
}

@media screen and (max-width: 1400px) {
  .inputfields_pledge {
    width: 11em;
  }

  .selectfields_pledge {
    width: 10em;
  }
  .inputfields_pledge2 {
    width: 11em;
    margin-right: 1%;
  }
}

/* @media screen and (max-width: 1395px) {

} */

/* @media screen and (max-width: 1270px) {


} */

@media screen and (max-width: 1190px) {
  .inputfields_account_type {
    width: 15em;
    border-radius: 5px;
  }

  .selectfields_account_type {
    width: 15em;
    height: 2em;
    border-radius: 5px;
  }
}

/* @media screen and (max-width: 1099px) {

}

@media screen and (max-width: 1000px) {

} */

@media screen and (max-width: 998px) {
  .inputfields_pledge {
    width: 18em;
  }

  .selectfields_pledge {
    width: 18em;
  }
  .inputfields_pledge2 {
    width: 18em;
    margin-right: 1%;
  }

  .inputfields_account_type {
    width: 22em;
    border-radius: 5px;
  }

  .selectfields_account_type {
    width: 22em;
    height: 2em;
    border-radius: 5px;
  }
}
