<div class="pdf-header">
  <div>Pledge Document</div>
</div>
<div class="pdf-container scrollbar" id="custumscroll" style="padding: 1% ;">
  <div  >
    <div style="background-color: #ffffff ;">

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="background-color: #ffffff ; padding: 1%;">
        <p class="pledge_heading">PLEDGE</p>
      </div>

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding: 2%;">

          <div
            class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
            style="display: flex"
          >
            <div class="sub_heading_img">
              <img
                class="edelWeisslogo"
                style="width: 80%; height: 80%"
                src="assets/images/pledgeicon.svg"
                alt="logo"
              />
            </div>
            <div>
              <p class="sub_heading">Investor details</p>
            </div>
          </div>



          <div class="row" >
          <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                  <div class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="sub_heading2">Enter Folio Number</div>
                  <div>
                    <input
                      type="email"
                      class="inputfields_pledge2"
                      name="loginEmail"
                      id="loginEmail"
                      required
                      autofocus
                    />
                  </div>

                  </div>

                  <div class="col col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-12"  style="align-self: center;">
                  <div style="font-size: 12px ; margin-top: 20px; font-weight: 500;text-align-last : center">OR</div>
                  </div>

                <div class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="sub_heading2">PAN Number</div>
                <div>
                  <input
                    type="email"
                    class="inputfields_pledge"
                    name="loginEmail"
                    id="loginEmail"
                    required
                    autofocus
                  />
                </div>
              </div>

                  <div class="col col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="sub_heading2">Fund</div>
                    <div>
                      <select class="selectfields_pledge"  >
                        <option selected>
                          --Test1--</option>
                        <option>
                          Test2
                        </option>
                      </select>
                    </div>
                  </div>
            </div>
          </div>
        </div>



      <div
        class="col col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11"
        style="background-color: #f7f7f7; margin-top: 2%; margin-bottom: 2% ; padding: 1%;"
      >
        <div class="row pledge_content">
          <div
            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
            style="display: flex"
          >
            <div class="pledge_content_p">Investor Name :</div>
            <div class="pledge_content_p">Rahul Tiwari</div>
          </div>

          <div
            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
            style="display: flex"
          >
            <div class="pledge_content_p">Commitment :</div>
            <div class="pledge_content_p">2,00,00,000</div>
          </div>
          <div
            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
            style="display: flex"
          >
            <div class="pledge_content_p">Unit Class :</div>
            <div class="pledge_content_p">A1</div>
          </div>
        </div>

        <div class="row pledge_content">
          <div
            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
            style="display: flex"
          >
            <div class="pledge_content_p">Total Unit :</div>
            <div class="pledge_content_p">500</div>
          </div>

          <div
            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
            style="display: flex"
          >
            <div class="pledge_content_p">Total Pledged Units :</div>
            <div class="pledge_content_p">300</div>
          </div>
          <div
            class="col col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6"
            style="display: flex"
          >
            <div class="pledge_content_p">Available Units :</div>
            <div class="pledge_content_p">200</div>
          </div>
        </div>
      </div>
    </div>

      <hr style="margin-top: 2%; margin-bottom: 1% ; " />

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding: 2%;">
        <div
          class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
          style="display: flex"
        >
          <div class="sub_heading_img">
            <img
              class="edelWeisslogo"
              style="width: 85%; height: 85%"
              src="assets/images/pledgeicon.svg"
              alt="logo"
            />
          </div>
          <div>
            <p class="sub_heading">Unit to Pledge</p>
          </div>
        </div>

        <div>
          <div
            class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
            style="display: flex; justify-content: space-between"
          >
            <div>
              <div class="sub_heading2">Enter Unit to be Pledge</div>
              <div>
                <input
                  type="email"
                  class="inputfields_pledge3"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr style="margin-top: 2%; margin-bottom: 1%" />

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding: 2%;">
        <div
          class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
          style="display: flex"
        >
          <div class="sub_heading_img">
            <img
              class="edelWeisslogo"
              style="width: 85%; height: 85%"
              src="assets/images/pledgeicon.svg"
              alt="logo"
            />
          </div>
          <div>
            <p class="sub_heading">Financer Personal Details</p>
          </div>
        </div>

        <div
          class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
          style="display: flex"
        >
          <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="sub_heading2">Enter PAN</div>
            <div>
              <input
                type="email"
                class="inputfields_account_type"
                name="loginEmail"
                id="loginEmail"
                required
                autofocus
              />
            </div>
          </div>

          <div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="sub_heading2">Enter DOI</div>
            <div>
              <input
                type="email"
                class="inputfields_account_type"
                name="loginEmail"
                id="loginEmail"
                required
                autofocus
              />
            </div>
          </div>
        </div>

        <div
          class="col col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11"
          style="background-color: #f7f7f7; margin-top: 2% ; border : 1px solid #f7f7f7"
        >
          <div style="padding: 1%">
            <div>
              <p style="font-size: 13px">
                Save Personal name
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr style="margin-top: 2%; margin-bottom: 1%" />

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding: 2%;" >
        <div
          class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
          style="display: flex "
        >
          <div class="sub_heading_img">
            <img
              class="edelWeisslogo"
              style="width: 85%; height: 85%"
              src="assets/images/pledgeicon.svg"
              alt="logo"
            />
          </div>
          <div>
            <p class="sub_heading">Financer Bank Details</p>
          </div>
        </div>

        <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 1%;">
          <div class="row">
            <div
              class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
              style=" margin-bottom: 1%"
            >
              <div class="sub_heading2">Account Type</div>
              <div>
                <select class="selectfields_account_type"  >
                  <option selected>
                    --Test1--</option>
                  <option>
                    Test2
                  </option>
                </select>
              </div>
            </div>

            <div
              class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
              style="margin-top: 1%; margin-bottom: 1%"
            >
              <div class="sub_heading2">Account Number</div>
              <div>
                <input
                  type="email"
                  class="inputfields_account_type"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>

            <div
              class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
              style="margin-top: 1%; margin-bottom: 1%"
            >
              <div class="sub_heading2">IFSC Code</div>
              <div>
                <input
                  type="email"
                  class="inputfields_account_type"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>

            <div
              class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
              style="margin-top: 1%; margin-bottom: 1%"
            >
              <div class="sub_heading2">MIDR Code</div>
              <div>
                <input
                  type="email"
                  class="inputfields_account_type"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>
          </div>
        </div>


        <div
          class="col col-xxl-11 col-xl-11 col-lg-11 col-md-11 col-sm-11"
          style="background-color: #f7f7f7; margin-top: 1% ; border : 1px solid #f7f7f7"
        >
          <div style="padding: 1%">
            <div style="display: flex; justify-content: space-around;">
              <p style="font-size: 15px ; font-weight: 500; text-transform: capitalize;">
                BANK OF INDIA:
              </p>
              <p style="font-size: 13px ; font-weight: 200 ; text-transform: capitalize">
                BRANCH NAME MIRA BHAYANDER, JAIN BUNGALOw 100 FT.
                ROAD NEW GOLDEN NEST, PIN-401204
              </p>
            </div>
          </div>
        </div>
      </div>

      <hr style="margin-top: 2%; margin-bottom: 1%" />

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding: 2%;" >
        <div
          class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
          style="display: flex ;"
        >
          <div class="sub_heading_img">
            <img
              class="edelWeisslogo"
              style="width: 85%; height: 85%"
              src="assets/images/pledgeicon.svg"
              alt="logo"
            />
          </div>
          <div>
            <p class="sub_heading">Financer Contact Details</p>
          </div>
        </div>

        <div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding: 1%;">
          <div class="row">
            <div
              class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
              style="margin-top: 1%; margin-bottom: 1%"
            >
              <div class="sub_heading2">Enter Name</div>
              <div>
                <input
                  type="email"
                  class="inputfields_account_type"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>

            <div
              class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12"
              style="margin-top: 1%; margin-bottom: 1%"
            >
              <div class="sub_heading2">Phone Number</div>
              <div>
                <input
                  type="email"
                  class="inputfields_account_type"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>

            <div
              class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"
              style="margin-top: 1%; margin-bottom: 1%"
            >
              <div class="sub_heading2">Email</div>
              <div>
                <input
                  type="email"
                  class="inputfields_account_type"
                  name="loginEmail"
                  id="loginEmail"
                  required
                  autofocus
                />
              </div>
            </div>

          </div>



        </div>



      </div>

      <br style="margin-top: 1%; margin-bottom: 1%; width: 100%" />

    </div>

    <div style="padding: 1%;" >
      <div class="row" style="background-color: #ffffff">
        <div >
          <ol type="1" style="margin-left: 1%;">
            <li style="margin-top: 2%; margin-bottom: 2% ;">
              <div
                class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                style="display: flex; justify-content: space-around"
              >
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pledge_check_content_p">
                    Whether all the factual details are duly filled and
                    correctly appearing on un-pledged request as per the data
                    available with R & T/ Fund Accountant?*
                  </p>
                </div>

                <div
                  class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                  style="display: flex; justify-content: space-evenly"
                >
                  <div  class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault1"
                      style="font-size: 15px; font-weight: 500 ;"
                    >
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault2"
                      style="font-size: 15px; font-weight: 500"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li style="margin-top: 2%; margin-bottom: 2%">
              <div
                class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                style="display: flex; justify-content: space-around"
              >
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pledge_check_content_p">
                    Whether Pledge on the folio is already created (give details
                    if partial pledge is there)*
                  </p>
                </div>

                <div
                  class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                  style="display: flex; justify-content: space-evenly"
                >
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault11"
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault11"
                      style="font-size: 15px; font-weight: 500"
                    >
                      Yes
                    </label>
                  </div>
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault22"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault22"
                      style="font-size: 15px; font-weight: 500"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li style="margin-top: 2%; margin-bottom: 2%">
              <div
                class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                style="display: flex; justify-content: space-around"
              >
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pledge_check_content_p">
                    Whether the signature of the Contributor (or authorized
                    signatory) matches with the specimen available with R & T?*
                  </p>
                </div>

                <div
                  class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                  style="display: flex; justify-content: space-evenly"
                >
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault111"
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault111"
                      style="font-size: 15px; font-weight: 500"
                    >
                      Yes
                    </label>
                  </div>
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault222"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault222"
                      style="font-size: 15px; font-weight: 500"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li style="margin-top: 2%; margin-bottom: 2%">
              <div
                class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                style="display: flex; justify-content: space-around"
              >
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pledge_check_content_p">
                    Whether KYC documents of Pledgee (financer) as per process
                    note are received?*
                  </p>
                </div>

                <div
                  class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                  style="display: flex; justify-content: space-evenly"
                >
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault10"
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault10"
                      style="font-size: 15px; font-weight: 500"
                    >
                      Yes
                    </label>
                  </div>
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault20"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault20"
                      style="font-size: 15px; font-weight: 500"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li style="margin-top: 2%; margin-bottom: 2%">
              <div
                class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                style="display: flex; justify-content: space-around"
              >
                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                  <p class="pledge_check_content_p">
                    Whether the request letters in case of non-individual
                    contributor/ Lender is on the letter head of the company?*
                  </p>
                </div>

                <div
                  class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"
                  style="display: flex; justify-content: space-evenly"
                >
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault1"
                      style="font-size: 15px; font-weight: 500"
                    >
                      Yes
                    </label>
                  </div>
                  <div class="form-check" style="margin-left: 1%">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="flexRadioDefault2"
                      style="font-size: 15px; font-weight: 500"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
